Source: python-shellingham
Section: python
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@gmail.com>
Homepage: https://github.com/sarugaku/shellingham/tags
Vcs-Browser: https://github.com/alvistack/sarugaku-shellingham
Vcs-Git: https://github.com/alvistack/sarugaku-shellingham.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 dh-python,
 fdupes,
 python3-dev,
 python3-setuptools,

Package: python3-shellingham
Architecture: all
Description: Tool to detect surrounding Shell
 Shellingham detects what shell the current Python executable is running
 in.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python3:Depends},
 python3,
